.skills{
    padding-top: 8rem;
}

.container h1{
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    color: rgb(133, 126, 238);
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h1:before{
    background:rgb(133, 126, 238);
    color: white;
    content: 'SKILLS';
    overflow: hidden;
    position: absolute;  
    top: 0;  
    left: 1;
    padding: 0px 0px;
      -webkit-clip-path: polygon(0% 0% , 30% 0%, 30% 100%, 0% 100%);  
    clip-path: polygon(0% 0% , 30% 0%, 30% 100%, 0% 100%);
    animation: slide 4s 1s linear infinite;
}

@keyframes slide {      
    50% {     
      -webkit-clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 70% 100%); 
    } 
}
/* .education .edu-list{
    padding-left: 2rem;
} */
ul {
    padding-left: 0rem;
  }
.skills .container .content {
    width: 100%;
}

.skills-description {
    max-width: 700px;
    margin-bottom: 50px;
}

.skills-description h3 {
    font-size: 2rem;
    margin-bottom: 5px;
    font-weight: 900;
    color: rgb(63, 63, 63);
}


.skills-info {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    margin: 0 auto;
}

.skills-info h4 {
    margin-bottom: 20px;
}

.skills-info h4 label {
    background: rgb(133, 126, 238);
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 1.9rem;
}

.education-all {
    margin-bottom: 80px;

}

.edu-list .item {
    background: #fff;
    box-shadow: 0 0 20px rgba(0 0 0 /10%);
    border-bottom: 3px solid rgb(133, 126, 238);
    padding: 20px;
    margin-top: 15px;
    border-radius: 6px;
    transition: .3s ease;
    text-decoration: none;
    list-style: none;
}

.edu-list .item .year {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgba(58, 58, 58, 0.514);
}

.edu-list .item p {
    color: rgba(88, 88, 88, 0.89);
    font-size: 13px;
}

.edu-list .item span {
    color: rgba(88, 88, 88, 0.89);
    font-size: 14px;
    font-weight: 900;

}







.bars{
    list-style: none;
}

.bar {
    background: #fff;
    box-shadow: 0 0 20px rgba(0 0 0 /10%);
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 6px;
    transition: .3s ease;
}

.bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: small;
}

.bar .info span {
    font-weight: 500;
}

.bar .line {
    position: relative;
    width: 100%;
    height: 7px;
    background-color: rgb(216, 216, 216);
    border-radius: 2px;
}

.bar .line:before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(133, 126, 238);
    border-radius: 2px;
}

.bar .html:before {
    width: 95%;
}

.bar .css:before {
    width: 85%;
}

.bar .javascript:before {
    width: 75%;
}

.bar .bootstrap:before {
    width: 90%;
}

.bar .reactjs:before {
    width: 60%;
}

.bar .mysql:before {
    width: 60%;
}
.experience-card{
    background-color: #fff;
    border-bottom: 3px solid rgb(133, 126, 238);
    padding: 35px;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(0 0 0 /10%);
    transition: .3s ease;
}
.experience-card .upper{
    line-height: 30px;

}
.experience-card .upper h3{
    font-size: 1.3rem;
    font-weight: 700;
}
.experience-card .upper h5{
    font-size: small;
    font-weight: 500;
    font-style: italic;
}
.experience-card .upper span{
    color: rgb(133, 126, 238);
}
.section2 {
    height: 59.2rem;
     background: rgb(255,255,255);
 background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(201,176,233,0.9136029411764706) 0%, rgba(176,222,233,0.9023984593837535) 100%);
 }
@media screen and (max-width:1199px) {
    .section2{
        height: 79rem;
    }
}
@media screen and (max-width:991px) {
    .section2{
        height: 108rem;
    }
}
@media screen and (max-width:768px) {
    .section2{
        height: 109rem;
    }
}
@media screen and (max-width:420px) {
    .section2{
        height: 112rem;
    }
}